.site-name {
    font-family: 'Abril Fatface', cursive;
}

#about {
    background-color: #48c78e;
    padding: 25%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

#search {
    background-color: #48c78e;
    padding: 25%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.text {
    position: absolute;
    color:white;
}
