
* {
    box-sizing: border-box;
}

body {
    background-image: url('../images/aaron-burden-y0h45Oemrx4-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

img {
    float: left;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.site-name {
    font-family: 'Abril Fatface', cursive;
}

.top-header {
    margin-bottom: 5%;
}

#about {
    background-color: #48c78e;
    padding: 25%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.list-item {
    margin: 10px auto;
    width: 60%;
    border: 3px solid #000;
    padding: 10px;
    border-radius: 10px;
    background-color:#48c78e;
    color: #fff;
    font-weight: bold;
}

.list-item h2, .list-item h3 {
    color: #fff;
}

.list-item:hover {
    background-color: #c9f3e0 ;
    color: #000;
}

.list-item:hover h2, .list-item:hover h3 {
    color: #000;
}

.list-item:hover button {
    border: 2px solid #000;
}

.page-title {
    margin-top: 50px;
    text-align: center;
}

.capitalize {
    text-transform: capitalize;
}


.charity-info {
    width: 60%;
    margin: 0 auto;
}

.footer {
    width: auto;
    background-color:#48c78e;
    color: #fff;
    font-weight: bold;
    padding: 50px;
    margin: 180px auto;
    margin-bottom: 0;
}
.input {
    width: 500px;
    border: 3px solid #48c78e;
}

.search {
    width: 500px;
    margin: 0 auto;
}

.card {
    width: 500px;
    padding: 20px;
    border: 3px solid #000;
    margin-bottom: 10px;
    background-color: #48c78e;
}

.card-header {
    box-shadow: none;
}

.card-header-title {
    font-weight: bold;
    color: #fff;
    font-size: 20px;
}

.section-title {
    text-align: center;
    color: #fff;
    padding: 50px 0 15px 0;
    border-bottom: 2px solid #fff;
    display: inline-block;
    width: 50%;
    margin: 0 auto;
}

.news .section-title {
    width: 42%;
    margin-bottom: 40px;
}

.news {
    background-color: #48c78e;
    padding-bottom: 5%;
    width: 75%;
    margin: 100px auto 0px auto;
}

.news-container a div {
    color: #000;
}

.news-btns {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.news-btns button {
    margin: 0 10px;
    padding: 0;
}

.news-article {
    width: 70%;
    margin: 0 auto;
    border: 2px solid #000;
    background-color: #c9f3e0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.about-image {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row {
    margin-bottom: 45px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.footer {
    background-size: 100% 100%;
}

#search {
    padding-top: 5%;
}

#zip-submit {
    width: 500px;
    font-weight: bold;
    padding: 30px; 
    margin-top: 10px;
    border: 3px solid #000;
} 

#about {
    background-color: #48c78e;
    padding: 2% 5% 5% 5%;
    width: 75%;
    margin: auto;
}

