.site-name {
    font-family: 'Abril Fatface', cursive;
}

.list-item {
    margin: 10px auto;
    width: 60%;
    border: 3px solid #000;
    padding: 10px;
    border-radius: 10px;
    background-color:#48c78e;
    color: #fff;
    font-weight: bold;
}

.list-item h2, .list-item h3 {
    color: #fff;
}

.list-item:hover {
    background-color: #c9f3e0 ;
    color: #000;
}

.list-item:hover h2, .list-item:hover h3 {
    color: #000;
}

.list-item:hover button {
    border: 2px solid #000;
}

.page-title {
    margin-top: 50px;
    text-align: center;
}

.capitalize {
    text-transform: capitalize;
}

.footer {
    width: auto;
    background-color:#48c78e;
    color: #fff;
    font-weight: bold;
    padding: 50px;
    margin: 180px auto;
    margin-bottom: 0;
}
.input {
    width: 500px;
    margin-left: 400px;
    margin-top: 10px;
}
.card {
    width: 500px;
    padding: 20px;
    border: 3px solid #000;
    margin-top: 50px;
    margin-left: 400px;
    margin-bottom: 3px;
    background-color: #48c78e;

}
.card-header-title {
    font-weight: bold;
    color: #fff;
    margin-left: 100px;

}

 #zip-submit {
    width: 500px;
     margin-top: 10px; 
     margin-left: 400px;
    font-weight: bold;
     padding: 30px; 



} 