.site-name {
    font-family: 'Abril Fatface', cursive;
}

.list-item {
    margin: 10px auto;
    width: 75%;
    border: 3px solid #000;
    padding: 10px;
    border-radius: 10px;
    background-color:#48c78e;
    color: #fff;
    font-weight: bold;
}

.list-item h2, .list-item h3 {
    color: #fff;
}

.list-item:hover {
    background-color: #c9f3e0 ;
    color: #000;
}

.list-item:hover h2, .list-item:hover h3 {
    color: #000;
}